*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    height: 10vh;
    background: linear-gradient(to bottom,#5d1616,#280a0a);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}

nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav a{
    list-style: none;
    text-decoration: none;
}

nav ul{

    list-style: none;
    font-size: 2.2vw;
    gap: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    height: 80%;
    margin-top: 10px;
}

#presentacion{
    height: 60vh;
    width: 100%;
    background-image: url("./img/fondoPanes.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    box-shadow: inset 0 0 40px 5px black;
}

#presentacion h1{
    margin-top: 20px;
    filter: drop-shadow(0px 0px 10px goldenrod);
}

.textoBlanco{
    color: white;
}

.textoNaranja{
    color: #b36632;
}

.fondoNegro{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.837)70%);
    width: 100%;
    text-align: center;
}

.margenLados{
    padding: 30px 10px;
}

.fuenteRetro{
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

#productos{
    width: 100%;
    background-image: url("./img/fondo.jpg");
    padding: 20px 0;
}

.contenedor{
    width: 90%;
    margin: auto;
    padding: 30px;
    background-color: #dec3b3a5;
    border-radius: 30px;
    box-shadow: inset 0 0 40px 5px rgba(255, 255, 255, 0.407);
}

.boton{
    display: inline-block;
    padding: 15px 45px;
    margin: 10px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.5rem;
    background-color: rgb(231, 231, 231);
    color: #b36632;
    border: solid 3px #b36632;
}

.descripcionPan>.boton{
    display: inline-block;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 50px;
    background-color: rgb(231, 231, 231);
    background-color: #b36632;
    color: white;
    justify-self:end;
}

.contenedorBlanco{
    width: 60%;
    background-color: rgb(239, 239, 239);
    border-radius: 50px;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

#seleccionado{
    background-color: #b36632;
    color: white;
}

#panes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tarjetaPan{
    width: 500px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.267);
    background-color: white;
    text-align: left;
}

.tarjetaPan img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
}

.bandaRoja{
    width: 100%;
    background-color: #5d1616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    font-size: 1.8rem;
}

.bandaRoja>p{
    color:  #b36632;
}

.descripcionPan p{
    padding: 20px 0;
    font-size: 1.2rem;
    display: block;
}

.descripcionPan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}



@media screen and (max-width: 1290px) {
    .tarjetaPan{
        width: 1000px;
    }
}

@media screen and (max-width: 770px) {
    .tarjetaPan{
        width: 1000px;
    }

    .descripcionPan{
        flex-direction: column;
    }

    .descripcionPan>.boton{
        margin-top: 0;
    }

    #productos .contenedorBlanco{
        width: 80%;
    }
}



