*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    height: 10vh;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4%;
    z-index: 99;
}

nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav li{
    color: brown;
    list-style: none;
}

nav ul{

    list-style: none;
    font-size: 2.2vw;
    gap: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: brown;
}