*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: rgba(37, 37, 37);
}
  
::-webkit-scrollbar-thumb {
    background: #dec3b3de;
    border-radius: 50px;
    transition: transform .3s;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 171, 53);
}

.fondo{
    background-image: url("./img/fondo.jpg");
}

header{
    position: sticky;
    top: 0;
    height: 10vh;
    background: linear-gradient(to bottom,#5d1616,#030101);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    box-shadow: 0px 0px 30px 0px rgb(22, 22, 22);
}

nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav a{
    list-style: none;
    text-decoration: none;
}

nav ul{
    list-style: none;
    font-size: 2.2vw;
    gap: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform  0.2s;
    transform: scale(1.05);
}

nav a{
    
}

.logo img{
    height: 70%;
    margin-top: 5%;
}

footer{
    height: 10vh;
    padding: 0 5%;
    background-color: #b36632;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    bottom: 0;
}

footer>a{
    height: 100%;
    display: flex;
    align-items: center;
}

footer>a>img{
    height: 100%;
}

.siguiente{
    position: fixed;
    top: 460px;
    right: 19px;
    color: white;
    font-size: 1.5em;
    z-index: 99;
    text-decoration: none;
    padding: 1.5% 0.9%;
    background-color: #c4681e;
    border-radius: 10px;
    font-weight: 1000;
    box-shadow: 0px 0px 20px 0px rgb(22, 22, 22);
}

.siguiente:hover{
    background-color: rgba(255, 122, 14);
    border-radius: 10px;
    font-weight: 1000;
    text-decoration: none;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.614);
}

.anterior{
    position: fixed;
    top: 460px;
    left: 19px;
    color: white;
    font-size: 1.5em;
    z-index: 99;
    text-decoration: none;
    padding: 1.5% 0.9%;
    background-color: #c4681e;
    border-radius: 10px;
    font-weight: 1000;
    box-shadow: 0px 0px 20px 0px rgb(22, 22, 22);
}

.anterior:hover{
    background-color: rgba(255, 122, 14);
    border-radius: 10px;
    font-weight: 1000;
    text-decoration: none;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.614);
}

#portada{
    height: 60vh;
    width: 100%;
    background-image: url("./img/fondoPanes.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    box-shadow: inset 0 0 40px 5px black;
}

#portada h1{
    margin-top: 20px;
    filter: drop-shadow(0px 0px 10px goldenrod);
}

.textoBlanco{
    color: white;
}

.textoMarron{
    color: #b36632;
}

.textoNaranja{
    color: rgb(255, 171, 53);
}

.fondoNegro{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.837)70%);
    width: 100%;
    text-align: center;
}

.margenLados{
    padding: 30px 10px;
}

.fuenteRetro{
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

#productos{
    width: 100%;
    padding: 20px 0;
}

.contenedor{
    width: 90%;
    margin: auto;
    padding: 30px;
    background-color: #dec3b3de;
    border-radius: 30px;
    box-shadow: inset 0 0 40px 5px rgba(255, 255, 255, 0.407);
}

#productos h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #5d1616;
}

.avisoHorario{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    margin: 0 auto 20px auto;
    padding: 5px 10px;
    background-color: #5d1616;
    border-radius: 50px;
}

.avisoHorario img{
    width: 30px;
    height: 30px;
}

.avisoHorario h3{
    font-weight: normal;
    color: white;
    display: block;
    margin: 0;
}

.boton{
    display: inline-block;
    padding: 15px 45px;
    margin: 10px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.5rem;
    background-color: white;
    color: #b36632;
    border: solid 3px #b36632;
    transition: transform  0.2s;
}

.boton:hover, .descripcionPan .boton:hover{
    background-color: #b36632;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.644);
}

.descripcionPan .boton{
    display: inline-block;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 50px;
    background-color: white;
    color: #b36632;
    justify-self:end;
}

.contenedorBlanco{
    width: 95%;
    background-color: rgb(239, 239, 239);
    border-radius: 50px;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

#seleccionado{
    background-color: #b36632;
    color: white;
}

#panes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tarjetaPan{
    width: 30%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.267);
    background: linear-gradient(to bottom,rgb(255, 230, 194)80%,rgb(255, 171, 53));
    text-align: left;

}

.tarjetaPan:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.tarjetaPan img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
}


.bandaRoja{
    width: 100%;
    background-color: #5d1616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    font-size: 1.8rem;
}

.descripcionPan p{
    padding: 20px 0 0 0;
    font-size: 1.2rem;
    display: block;
}

.descripcionPan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.alergenosComprar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.alergenos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    background-color: white;
    border-radius: 50px;
}

.alergenos>img{
    width: 40px;
    height: 40px;
}

#presentacion{
    padding: 50px;
    background-color: #280a0aee;
}

#presentacion>div{
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 5%;
}

#presentacion img{
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.267);
    transition: transform  0.2s;
}

#presentacion img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.644);
}

#presentacion>div>div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    font-size: 1.5rem;
    color: white;
}

#presentacion .boton{
    width: fit-content;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2rem;
    background-color: #b36632;
    color: white;
    transition: transform  0.2s;
    align-self: end;
}

#presentacion .boton:hover{
    background-color: white;
    color: #b36632;
    transform: scale(1.1);
}

.pan>main, #contacto>main{
    display: flex;
    align-items: center;
    font-size: 1.2rem;;
}

.pan .contenedor, #contacto .contenedor{
    height: 70vh;
    margin: 5vh auto;
    width: 80%;
    padding: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 30px 0px rgb(22, 22, 22);;
}

.pan .contenedor img, #contacto .contenedor img{
    height: 99%;
    width: 49%;
    padding: 1% 0 1% 1%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
}

#baguette img, #hogaza img{
    object-position: left top;
}

#brioche img{
    object-position: center top;
}

#textoPan, #textoContacto{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#textoPan h1, #textoContacto h1{
    font-size:3em;
    position: relative;
}

.pan .alergenos img{
    width: 30px;
    height: 30px;
}

.pan .alergenos p{
    margin: 0 10px;
}

#coleccion{
    width: 90%;
    max-width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 40px;
}

#textoPan>p, #textoContacto>p{
    margin: 10px 40px;
    font-size: 1.2rem;
}

.etiqueta{
    padding: 5px 20px 5px 40px;
    background-color: #5d1616;
    border-bottom-right-radius: 30px;
    margin: 10px 0;
    width: fit-content;
}

#cantidadCompra{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

#cantidadCompra>.boton{
    background-color: #b36632;
    color: white;
    transition: transform  0.2s;
}

#cantidadCompra>.boton:hover{
    background-color: white;
    color: #b36632;
    transform: scale(1.1);
}

.contador{
    display: flex;
    align-items: center;
}

.contador .boton{
    padding: 6px 20px;
    margin: 5px;
}

#precio{
    font-size: 3rem;
    padding: 5px 20px;
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
}

.masPequenia{
    font-size: 1.2rem;
}

#formulario{
    background-color: #b36632;
    border-style: none;
}

#formulario>div{
    padding: 0 5% 2% 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

#mensaje{
    width: 100%;
}

#formulario button{
    padding: 1% 5%;
    margin: 1%;
    
}


@media screen and (max-width: 1580px) {
    .pan .contenedor, #contacto .contenedor{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .pan .contenedor img, #contacto .contenedor img{
        height: 40%;
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        object-position: center;
        padding: 0;
    }

    #textoPan, #textoContacto{
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pan .alergenos img{
        width: 30px;
        height: 30px;
    }

    #coleccion{
        width: 90%;
        max-width: 100%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin: 0 40px;
    }


    #cantidadCompra{
        margin-bottom: 20px;
    }

    #formulario{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}



@media screen and (max-width: 1400px) {
    .tarjetaPan{
        width: 40%;
    }

    .logo img{
        height: 60%;
        margin-top: 7%;
    }

    #presentacion>div{
        height: 30vh;
    }

    #presentacion>div>div{
        font-size: 1rem;
    }
}

@media screen and (max-width: 950px) {
    .alergenos>img{
        width: 28px;
        height: 28px;
    }

    #presentacion>div>div{ 
        font-size: 1rem;
    }
}

@media screen and (max-width: 820px) {
    h1{
        font-size:2.5rem;
    }

    .logo img{
        height: 50%;
        margin-top: 12%;
    }

    #productos h2{
        font-size: 2.5rem;
    }

    .tarjetaPan{
        width: 90%;
    }

    .descripcionPan{
        flex-direction: column;
    }

    .descripcionPan>.boton{
        margin-top: 0;
    }

    #presentacion{
        padding: 20px 0;
    }

    #presentacion>div{
        width: 80%;
        height:fit-content;
        flex-direction: column;
    }

    #presentacion img{
        width: 100%;
        height: 70%;
    }

    #presentacion>div>div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        font-size: 1rem;
        color: white;
        padding-top: 20px; 
    }

    #presentacion>div:nth-child(2){
        flex-direction: column-reverse;
        padding: 20px 0;
    }

    .alergenos>img{
        width: 40px;
        height: 40px;
    }
    
    #presentacion .boton{
        align-self: center;
    }

    footer{
        font-size: 1rem;
        text-align: center;
    }
}






